$orange = #ed6c00
$orangeRed = orangeRed

$bgColor = #00bcd4
$bgColorGray = #f4f4f4
$darkTextColor = #333
$headHeight = .88rem

$borderDefault = 1px solid #eee

$borderRadius = 2px

ellipsis()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
